<h1>Todo Lists</h1>

<div class="container">
  <% @todo_lists.each do |todo_list| %>
    <h3>
      <%= todo_list.fetch(:title) %>
    </h3>
    <%= render partial: 'todo_items/todo_item', locals: { todo_list: todo_list } %>
  <% end %>

  <%= 'nothing here yet.' unless @todo_lists %>
</div>